<header>
    <div class="nav">
        <a class="brand" href="index.html" title="Стартовая">
            <img src="logo.png" alt="Логотип МО">
            <span>Красненькая речка</span>
        </a>

        <a class="link" href="index.html">Главная</a>
        <a class="link" href="documents.html">Документы</a>

        <!-- Выпадающее меню -->
        <div class="dropdown">
            <a class="link" href="mo.html">Муниципальное образование</a>
            <ul class="menu">
                <li><a href="mo.html#council">Муниципальный совет</a></li>
                <li><a href="mo.html#admin">Местная администрация</a></li>
                <li><a href="mo.html#commissions">Постоянные комиссии МО</a></li>
                <li><a href="mo.html#custody">Опека и попечительства</a></li>
                <li><a href="mo.html#procurement">Заказы и закупки</a></li>
                <li><a href="mo.html#vacancies">Вакансии</a></li>
            </ul>
        </div>
    </div>
</header>
